@page
@model IndexModel
@{
    Model.Title = "Index";
}

<div class="row">
    @foreach (var item in Model.Cards)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <a asp-page="@item.Url" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    }
</div>